extends layout

block content
  h1= title
  form(action='' method='post').form
    fieldset.form-group
      label(for='name') Name *
      input#name.form-control(type='text' name='name' value=category? category.name : '' placeholder='Name' required autofocus)
      .error= category? category.nameErrMsg : ''
    fieldset.form-group
      label(for='description') Description *
      textarea#description.form-control(name='description' cols='30' rows='10' placeholder='Description' required)= category? category.description : ''
      .error= category? category.descriptionErrMsg : ''
    .submit-cancel
      fieldset.form-group
        button(type='submit').btn.create.update= title === 'Create Category' ? 'Add' : 'Update'
      fieldset.form-group
        a(href='/').btn.cancel Cancel