extends layout

block content
  .items
    h2 #[span= category? category.name : 'All'] Items
    ul.items-list
      each item in items
        li.item
          .card
            a(href=item.url)
              .card-image
                img(src=item.imageSrc)
            .card-content
              .quantity-price
                span.quantity Qty: #{item.quantity}
                span.price $#{item.price}
              h3.card-title
                a(href=item.url)= item.name