extends layout 

block content
  h1= title 
  .users-container
    .username Username
    .full-name Full Name
    .email Email
    .role Role
    each user in users
      .user
        a.username(href=user.url)= user.username
        .full-name= user.fullName
        .email= user.email
        .role= user.isAdmin? 'Admin' : 'User'